services:
  # https://hub.docker.com/r/bitnamilegacy/postgresql
  postgresql:
    image: docker.io/bitnamilegacy/postgresql:16.6.0-debian-12-r2
    ports:
      - "6432:5432"
    environment:
      POSTGRESQL_USERNAME: ${POSTGRES_USER:-postgres}
      POSTGRESQL_PASSWORD: ${POSTGRES_PASSWORD:-changeme}
      POSTGRESQL_DATABASE: prisma-queue
    volumes:
      - "./data/postgresql:/bitnami/postgresql"
